<?xml version="1.0" encoding="utf-8"?>

<widget xmlns ="http://www.w3.org/ns/widgets"
xmlns:gap="http://phonegap.com/ns/1.0"
id ="com.phonegap.app7"
version = "1.0.0">

<name> app7- Mostrar aplicaciones </name>

<description>
Aplicacion que muestra aplicacion 1,5 y 6.
</description>

<author href="https://build.phonegap.com" email="cb16.carolina.garcia.bielma@gmail.com">
Zyanya Carolina Garcia Bielma
</author>

<!-- Personaliza la aplicacion y plataforma -->
<preference name="orientation"	value="default" />
<!-- <preference name="orientation"    value="portrait"/>
<preference name="orientation"	value="landscape"/> -->
<preference name="target-device" value="universal" />
<preference name="fullscreen"	value="true"/>
<preference name="android-installLocation" value="auto"/>
<preference name="permissions" value="INTERNET"/>


<!-- Plugins -->
<!-- Core plugins -->
<plugin name="cordova-plugin-device" spec="~1.1.4" />
<plugin name="cordova-plugin-vibration" spec="~2.1.3" />
<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />

<!--<plugin name="cordova-plugin-geolocation" source="npm"/> -->

<!---Para accesar a paginas en internet-->
<allow-intent href="https://*/*"/>
<acces origin="https://*/*"/>
<allow-intent href="http://*/*"/>
<acces origin="http://*/*"/>
<plugin name="cordova-plugin-whitelist" source="npm"/>

  <!--Colocar icono app-->

<icon src="res/android/mdpiapp7.png"/>
</widget>